

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-fixed-top {
   background-color: #fff;
   border-bottom: 1px solid #d9d9d9; 
}

.navbar-brand {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.main-header {
    position: relative;
    padding-top: 90px;
    padding-bottom: 60px;
    text-align: left;
    font-size: 24px;
    color: #fff;
    background: rgba(51,150,222,1);
    margin-bottom: -40px;
}

.main-header h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
}

section {
	padding: 50px 0 50px 0;
}

.no-header {
    padding-top: 100px;
}

.separator {
    line-height: 0.5;
    text-align: center;
    margin: 30px 0 30px 0;
}

.spacer-single {
    width: 100%;
    height: 30px;
    display: block;
    clear: both;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/*.btn-success-outline {
    color: #5cb85c;
    background-color: transparent;
    background-image: none;
    border-color: #5cb85c;
}*/

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

#developers .panel-heading {
	min-height: 100px;
}

#developers .panel-heading img {
	float: left;
}

#developers .dev-info {
    padding-left: 10px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

#developers .dev-info .heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.dev-panel .price {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #337ab7;
}

#developers .dev-stats {
	padding-top: 12px !important;
    padding-bottom: 12px !important;
    display: flex;
}

.dev-stat {
    float: left;
    width: 25%;
    font-size: 11px;
    text-transform: capitalize;
}

.dev-stat-count {
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    display: block !important;
}

#cart {
    background: #fafafa;
    border-top: 2px solid rgba(51,150,222,1);
    /*background: #F5F3EA;
    border-top: 2px solid #E22E29;*/
    width: 100%;
    background-size: 100% !important;
}

.cart-list-item {
	padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    border-top: 1px solid #E3E3E3; /*#fff;*/
}

.cart-list-item input[type="number"] {
    width: 50px;
}

#cart .total {
    font-size: 16px;
}

input.modern {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    border-radius: 0;

    -webkit-box-shadow: 
      inset 0 0 0  rgba(0,0,0,0.1),
            0 0 0 rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 0  rgba(0,0,0,0.1),
            0 0 0 rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 0  rgba(0,0,0,0.1),
            0 0 0 rgba(0,0,0,0.1); 

    height: 35px;
    /* padding: 6px 12px; */
    font-size: 16px;
    line-height: 1.5;
}

.glyphicon.glyphicon-remove-sign {
    font-size: 25px;
    color: red;
    cursor: pointer;
}
span.glyphicon.glyphicon-remove-sign:hover {
	color: brown;
    opacity: 0.8;
}

#order .panel .list-group-item {
    min-height: 70px;
}

#order .panel .panel-footer {
    min-height: 50px;
    font-size: 20px;
}


@media (min-width: 768px) {
    .main-header {
        
    }
}